<phpunit bootstrap="./bootstrap.php" colors="true" backupGlobals="false" >
	<testsuites>
		<testsuite name="Tests">
			<directory>../module/Album/test</directory>
		</testsuite>
	</testsuites>
	<!--<filter>
		<whitelist>
			<directory suffix=".php">./library/App</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="./reports/coverage" charset="UTF-8"
		yui="true" highlight="false"
		lowUpperBound="35" highLowerBound="70"/>
		<log type="testdox-text" target="./reports/testdox/testdox.txt"/>
	</logging>-->
</phpunit>